        
<h2>About Simple Programming</h2>
<p>Here at Simple Programming were about the programming simplicities.</p>


<h2>Features</h2>
<ul>
  <li>Simple</li>
  <li>Straightforward</li>
  <li><a href="#about_div">About</a></li>
  <li><a href="#techincalSkills_div">Techincal Skills</a></li>
  <li><a href="#experience_div">Experience</a></li>
</ul>
<p>
  
  
  
</p>
<div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>Programming Made Simple.
</code></pre></div></div>



<hr>

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/k7lw/k7lw.github.io">GitHub Repository</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="https://github.com/k7lw">The Author</a>
  </li>
</ul>