
<h2>About Simple Programming</h2>
<p>Here at Simple Programming were about the programming simplicities.</p>


<h2>Features</h2>
<ul>
  <li>Simple</li>
  <li>Straightforward</li>
  <li><a href="https://hackertyper.net/">Programming</a></li>
  <li>
    <a data-target="#resume_modal" data-toggle="modal" class="MainNavText" id="modal_click" 
       href="#resume_modal">Resume</a>
</li>
</ul>
<p>
  {% capture abb %}
    {% include_relative code_blocks/About.md %}
  {% endcapture %}
  {{ abb | markdownify }}
</p>
<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/k7lw/k7lw.github.io">GitHub Repository</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="https://github.com/k7lw">The Author</a>
  </li>
</ul>


<!-- The Modal -->
<div class="modal" id="resume_modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        {% capture resume %}
          {% include_relative code_blocks/Resume.md %}
        {% endcapture %}

        {{ resume | markdownify }}
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>