<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>

  {{ content }}
<div id="about_div">
<h1><strong>About Me</strong></h1>
<p id="NEEDED">Mid Term Mini project  - (Adv) Web Programming Course</p>
<h3 id="karl-straub"><strong>Karl Straub</strong></h3>
<p>Mays Landing, NJ, 08330</p>
<p>karlstraub.work@gmail.com</p>
<h3><strong>School &amp; Relevant Coursework</strong></h3>
<h4>Bachelor of Science: Computer Science August 2021</h4>
<p>Rowan University - Glassboro, NJ</p>
<h2 id="relevant-coursework">RELEVANT COURSEWORK</h2>

<ul>
  <li>Object Oriented Programming &amp; Data Abstraction</li>
  <li>Data Structures &amp; Algorithms / Design Analysis &amp; Algorithms (Focus on efficiency and Big O)</li>
  <li>Computer Architecture &amp; Assembly Language</li>
  <li>Web Programming, Computer Networking, &amp; Data Communication</li>
  <li>Computer Laboratory Techniques (C, Unix- Based)</li>
  <li>Computer Networking &amp; Data Communication</li>
</ul>

</div>

<div id="techincalSkills_div">
  <h1 id="technical-skills">TECHNICAL SKILLS</h1>
  <ul>
    <li>Programming Languages &amp; Frameworks: Java, C++, C, JavaScript, Python, HTML5, CSS3</li>
    <li>OS &amp; Environments: Windows7, Windows10, Ubuntu, Kali Linux, Unix, MacOS</li>
    <li>Databases: MySQL, MongoDB, DynamoDB</li>
    <li>IDE &amp; Tools: Git, Eclipse, Visual Studio Code</li>
    <li>Full Stack Development</li>
    <li>Strong analytical and problem-solving skills</li>
    <li>Experience in Agile Workflow</li>
  </ul>
</div>

<div id="experience_div">
<h1 id="experience">EXPERIENCE</h1>

<p><strong>Freelancing,</strong> <em>ArizonaEast LLC</em> <strong>June 2018 – May 2021</strong></p>

<p>HTML5/CSS3/Python/Java/JavaScript</p>

<p>Applied knowledge of computer science to implement a software solution that automated processes to optimize company workflow and improve company efficiency. The software created a Full-Stack solution that improved throughput by 18 times fold.</p>

<p><strong>Rowan Senior Project,</strong> <em>Rowan University</em> <strong>January 2021 – May 2021</strong></p>

<p>HTML5/CSS3/Python/Java/JavaScript</p>

<p>Collaborated with an agile development team to develop and maintain a music recommendation website that exhausted the entirety of the software development lifecycle. The website used oauth2.0, scripting, and database entry to keep user data stored. The website was also able to recommend other users with similar music interests to communicate and collaborate with.</p>

</div>


  </body>
</html>
